<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
   <a class="navbar-brand" href="/">F8 education</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
     

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/363363014_1010634843467415_8094723348930777713_n.jpg?stp=c0.143.1614.1614a_cp6_dst-jpg_s851x315&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEfx7368RXRSecxxOAYQQJJxG33rT5ITW_EbfetPkhNb7sKbDscMfSvx3xdhv-cH_W1aV3KjXgeCVLLzNt_amH6&_nc_ohc=iqlNqsp0FcYAX8VLSzN&_nc_ht=scontent.fsgn5-8.fna&oh=00_AfDsCCzvks4ikUmg5rCXfb_e8OEJRIcCO7ZkAQ2iLiabow&oe=6601FB6D" alt="" class="user-avatar">
          Đức Hậu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
      </li>
      
    </ul>
   
  </div>
 </div>
</nav>